---
layout: default
---
<article class="content">
  <h1>{{ page.title }}</h1>
  <div class="post-meta">
    {{ page.date | date: "%d %b %Y" }}
    {% if page.categories %}
      &nbsp;·&nbsp;
      {% for category in page.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
    {% endif %}
  </div>

  {{ content }}

  {% include share-page.html %}

  {% assign hasSimilar = '' %}
  {% for post in site.posts %}
    {% assign postHasSimilar = false %}
    {% for tag in post.categories %}
      {% for thisTag in page.categories %}
        {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
          {% if hasSimilar.size == 0 %}
            <div class="related-posts">
              <h3>Related Posts</h3>
              <ul>
          {% endif %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% if post.categories %}
                  <span class="related-cats">({% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})</span>
                {% endif %}
              </li>
          {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
          {% assign postHasSimilar = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% if hasSimilar.size > 0 %}
      </ul>
    </div>
  {% endif %}

  <div class="post-nav">
    {% if page.previous.url %}
      <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</article>
