---
layout: default
---
<article class="content">
  <h1>{{ page.title }}</h1>

  {{ content }}

  <div class="project-grid">
    {% for i in site.data.projects %}
      <a class="project-card" href="{{ i.url }}" target="_blank" rel="noopener">
        <div class="project-image" style="background-image: url('/static/projects/{{ i.image }}');"></div>
        <div class="project-body">
          <h3 class="project-name">{{ i.name }}</h3>
          {% if i.tags %}
            <div class="project-tags">
              {% for tag in i.tags %}<span class="project-tag">{{ tag }}</span>{% endfor %}
            </div>
          {% endif %}
          <div class="project-footer">
            <span class="project-date">{{ i.date }}</span>
            <span class="project-link"><i class="fa fa-external-link"></i> View</span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</article>
